<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <mat-card-title>
      <h1>404 Sorry, page not found</h1>
      <img src="./assets/404pic.gif" />
      <h2 class="not-found-page">I know this place looks like fun, but it's time for you to go back home.</h2>
    </mat-card-title>

    <mat-card-content style="text-align: coneter; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>

  </mat-card>
</div>
