.signin-container {
  width: 35%;
  margin: 15% auto;
}

.msg-error {
  margin: 10px 0;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.signin-container > mat-card-title, mat-card-subtitle {
  text-align: center;
}
